<section class="hourly-forecast" [class.mobile]="isMobile()">
  <div class="hourly-forecast-header">
    <h3 class="hourly-forecast-title">Hourly forecast</h3>
    <button type="button" class="hourly-forecast-day-selector" [cdkMenuTriggerFor]="dayMenu">
      <span>{{ selectedDay() }}</span>
      <img src="assets/images/icon-dropdown.svg" alt="" />
    </button>
    <ng-template #dayMenu>
      <div class="hourly-forecast-day-menu" cdkMenu>
        @for (day of days(); track day) {
        <button
          type="button"
          class="day-menu-item"
          [class.selected]="day === selectedDay()"
          cdkMenuItem
          (click)="onSelectDay(day || '--')"
        >
          {{ day }}
        </button>
        }
      </div>
    </ng-template>
  </div>
  <ul class="hourly-forecast-list">
    @for (hour of hourlyForecast(); track $index) {
    <li class="hourly-forecast-item" [class.loading]="isLoading()" animate.leave="fade">
      <img
        [src]="hour.icon ? '/assets/images/icon-' + hour.icon + '.webp' : ''"
        alt="{{ hour.alt }}"
        title="{{ hour.alt }}"
        class="hourly-icon"
        width="40"
        height="40"
      />
      <span class="hourly-time">{{ hour.time }}</span>
      <span class="hourly-temp">{{ hour.temperature }}°</span>
    </li>
    }
  </ul>
</section>
