.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-img {
  height: 2.5rem;
  width: auto;
  display: block;
  transition: all 0.3s ease;
}

.mobile-logo {
  transform: scale(0.75);
  transform-origin: left center;
  transition: all 0.3s ease;
}
