@use '../../../scss/functions' as *;
@use '../../../scss/variables' as *;

.weather-stats-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: rem(20px);
	list-style: none;
	padding: 0;
	margin: 0;

  &.mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}

.weather-stat {
  border: 1px solid $neutral-600;
	background: $neutral-800;
	border-radius: 1rem;
	padding: rem(20px);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.stat-label {
	font-size: rem(18px);
	color: $neutral-200;
	margin-bottom: 0.5rem;
}
.stat-value {
	font-size: rem(32px);
	color: $neutral-0;
  font-weight: 300;
}
