@use '../scss/functions' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: rem(32px);
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) rem(16px);
  max-width: rem(1215px);
  margin: 0 auto;
}

.main-content {
  display: flex;
  justify-content: space-between;
  gap: rem(32px);
  padding-bottom: rem(32px);
  &.tablet,
  &.mobile {
    flex-direction: column;
  }
}

.weather-summary {
  display: flex;
  flex-direction: column;
  gap: rem(32px);
  flex-grow: 2;
}

