@use '../../../scss/functions' as *;
@use '../../../scss/variables' as *;
@use '../../../scss/animations' as *;

.weather-card {
  &-bg {
    position: relative;
    width: 100%;
    min-height: rem(285px);
    border-radius: rem(20px);
    background-image: url('/assets/images/bg-today-large.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h2 {
      font-family: $font-primary;
    }

    &.mobile {
      background-image: url('/assets/images/bg-today-small.png');

      .weather-card-content {
        flex-direction: column;
      }

      .weather-date,
      .weather-city {
        text-align: center;
      }
    }

    &.loading {
      background-image: none;
      background-color: $neutral-800;

      .weather-loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: rem(16px);
        width: 100%;
        height: 100%;
        min-height: rem(285px);
      }
    }
  }

  &-content {
    padding: rem(24px);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.weather {
  &-location {
    display: flex;
    flex-direction: column;
    gap: rem(8px);
  }

  &-city {
    font-size: rem(28px);
    font-weight: 600;
  }

  &-date {
    font-size: rem(18px);
    font-weight: 500;
    color: $neutral-200;
  }

  &-main-info {
    display: flex;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-temp {
    font-size: rem(96px);
    font-weight: 600;
    font-style: italic;
    color: $neutral-0;
  }

  &-loading {
    .loading {
      &-spinner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          position: absolute;
          animation: spin 1s linear infinite;
        }
      }

      &-text {
        color: $neutral-200;
        font-size: rem(18px);
        font-weight: 500;
        margin: 0;
      }
    }
  }
}
